[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "*"
click = "*"
requests = "*"
tablib = "*"
pygogo = "*"
pytest = "*"
us = "*"
pytz = "*"
censusgeocode = "*"
spacy = "*"
reverse-geocoder = "*"

[dev-packages]

[requires]
python_version = "3.7"
